{% extends 'base.html' %}

{% import 'macros.html' as forms %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item">
            <a class="nav-link" href="/">Add User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if action == "update" %} active{% endif %}" href="/{% if action == "update" %}#{% else %}update{% endif %}">Refresh User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link{% if action == "delete" %} active{% endif %}" href="/{% if action == "delete" %}#{% else %}delete{% endif %}">Delete User</a>
        </li>
    </ul>

    {{ forms.messages(errors=errors, messages=messages) }}

    <div class="card">
        <div class="card-header">{{ description }} an account</div>
        <div class="card-body">
            <form method="post" action="/{{ action }}">
                <div class="row">
                    {{ forms.input('username', "Username", description='Your wallabag username at ' + wallabag_host, data=data, errors=errors) }}
                    {{ forms.input('password', "Password", type='password', description='Your wallabag password at ' + wallabag_host + ". The password will not be stored", data=data, errors=errors) }}
                </div>
                <div class="row">
                    <div class="col-lg">
                        <button type="submit" class="btn btn-primary">{{ description }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}